<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="/AdminLayout/_AdminLayout" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Dashboard</span>
                </a>

            </li>
            <li>
                <a href="/User/Index" aria-expanded="false">
                    <i class="icon-lock menu-icon"></i><span class="nav-text">Kullanıcılar</span>
                </a>

            </li>
            <li>
                <a href="/Dashboard/Index" aria-expanded="false">
                    <i class="icon-person menu-icon"></i><span class="nav-text">Kredi Kartları</span>
                </a>

            </li>
            
        </ul>
    </div>
</div>
