<div class="col-lg-6 col-md-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Order Summary</h4>
            <div id="morris-bar-chart"></div>
        </div>
    </div>

</div>